* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.active {
  background-color: #dbadc4;
}

.button-categoria:hover {
  background-color: #dbadc4;
  transition: 0.5s;
  border-radius: 3px;
}